@font-face {
    font-family: 'FuentePersonalizada';
    src: url("../Breaking\ Bad.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    text-align: center;
    margin: 0;
    padding: 0;

}


body#index {
    background-image: url("../images/breaking bad/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    --fuente-texto: 'FuentePersonalizada', serif;
    font-family: var(--fuente-texto);
    color: white;
    font-size: 35px;
}


body#formulario {
    background-image: url("../images/breaking bad/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body#tabla {
    background-color: #0c3e11;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
}

#caja_grande {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 25%; 
}

.campo {
    display: block;
    text-align: left;
    margin-bottom: 2rem;
    break-inside: auto;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 0.5rem;
    text-align: left;
    
}

legend {
    font-weight: bold;
}

#Breaking_Bad {
    --fuente-texto: 'FuentePersonalizada', serif;
    font-family: var(--fuente-texto);
    font-size: 40px;
    font-weight: normal;
}

input {
    padding: 1px;
    margin-left: 50px;
    width: 250px;
}
fieldset{
    margin-bottom: 1rem;
}
select {
    padding: 1px;
    margin-left: 50px;
    width: 250px;
}
textarea {
    resize: none;
    padding: 1px;
    margin-left: 50px;
    width: 250px;

}
#sexo {
    padding: 1px;
    margin-left: 30px;
    width: 50px;
}

#calle, #numero, #piso, #ciudad {
    padding: 1px;
    margin-left: 30px;
    width: 250px;
}

#enviar {
    border-radius: 10px;
    background-color: #3cb02a;
    color: #ffff;
    padding: 2px;
    margin-left: 4rem;
    margin-top: 2rem;
    width: 150px;
    height: 30px;
}

#borrar {
    border-radius: 10px;
    background-color: #c52121;
    color: #ffff;
    width: 150px;
    height: 30px;
}

#archivo {
    width: 300px;
}

form {
    height: auto;
    width: 500px;
    border: 10px outset brown;
    padding: 2rem;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    color: white;
    font-size: 15px;
    background-color: rgb(5, 8, 10, 0.5);
}


.logo {
    height: 200px;
    width: 200px;
}


.poster {
    text-align: center;
    width: 700px;
    height: 300px;
    border: 10px outset brown;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 1px;
}

table {
    table-layout: fixed;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: black;
    margin-bottom: 2rem;
}

td {
    height: 100%;
    width: 200%;
    margin: 0;
    border: 5px, solid black;
}


.tabla2 {
    height: auto;
    width: auto;
    margin-bottom: 2rem;
}


.square1 {
    background-color: #b8d927;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 80px;
}

.square2 {
    background-color: #d4e680;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 60px;
}

.square3 {
    background-color: #f1f8cc;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 60px;
}

.square4 {
    background-color: #89a419;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 60px;
}

.square5 {
    background-color: #637126;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 20px;
}

.square6 {
    background-color: #bcc49e;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 60px;
}


.square7 {
    background-color: #818d4b;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 60px;
}


.square8 {
    background-color: #ab8ece;
    color: black;
    margin-top: 15px;
    margin-bottom: -1px;
    width: 40px;
    padding: -3;
}

.square9 {
    background-color: #c4c239;
    color: black;
    margin-top: 6px;
    margin-bottom: 10px;
    width: 40px;
    padding-bottom: -5px;
}
